.user {
  padding: 0 24px;
  font-weight: var(--font-weight-medium);
  display: flex;
  align-items: center;
  margin-bottom: 39px;
  transition: padding .2s;
}

.mini {
  padding: 0 11px;
}

.userData {
  transition: opacity .2s;
  margin-left: 16px;
}

.mini .userData {
  opacity: 0;
  pointer-events: none;
}

.userAvatar {
  flex: none;
}

.userName {
  color: var(--color-dark-400);
  font-size: var(--font-size-14);
  margin-bottom: 2px;
}

.userEmail {
  color: var(--color-grey-400);
  font-size: var(--font-size-11);
  letter-spacing: 0.01em;
}

.userActive .userName {
  color: var(--color-blue-400);
}