.link {
  display: flex;
  align-items: center;
  padding: 0 24px;
  transition: padding .2s;
}

.mini {
  padding: 0 22px;
}

.linkIcon {
  margin-right: 16px;
  color: var(--color-grey-300);
}

.linkText {
  color: var(--color-dark-200);
  font-size: var(--font-size-13);
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.01em;
  transition: opacity .2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mini .linkText {
  opacity: 0;
  pointer-events: none;
}

.linkActive .linkText {
  color: var(--color-blue-400);
}

.linkActive .linkIcon {
  color: var(--color-blue-400);
}